// fonts

$font: 'Ubuntu', sans-serif;

// other

$transition: all .5s ease;

// Colors
$black: #000;
$eggplant: #2b0a3d;
$dark-purple: #2b0a3d;
$ocean-blue: #0070ad;
$bright-blue: #12abdb;
$blue: #6d64cc;


$grey: #666565;
$grey-light: #b3b3b3;
$grey-vlight: #d8d8d8;
$grey-bg: #efefef;
$warm-grey: #999;
$shadow: #c3c1c1;

$white-two: #f5f5f5;
$white-three: #f3f3f3;
$white-four: #222;


$red: #ff304c;
$faded-red: #dc3d50;
$pear: #95e616;
$yellowish-green: #95e616;
$lime-yellow: #c7ff17;
$pear: #c7ff17;
$orange: #ff6327;

$green: #00c37b;

// Colors - background
$white: #fff;
$pale-grey: #ebeff1;
$silver: #d8d8d8;
$silver-border: #d8dfe3;
$silver-opacity: #d8d8d8;
$lightsilver: #f5f5f5;
$light-grey-2: #c9c9c9;

$color-page-bg: #ececec;
$medium-grey: #e5e5e5;

// colors - rebranding

$cool-grey: #d8dfe3;
$light-grey: #e7e7e8;
$vlight-grey: #f3f3f3;
$medium-grey: #e5e5e5;
$grey: #999;
$dark-grey: #606060;

$navy-blue: #00264b;
$dark-blue: #0070ad;

$light-blue: #12abdb;
$dark-purple: #2b0a3d;
$deep-purple: #2b0b3d;

$semitransparent: rgba(240, 240, 240, .4);
$semitransparent-dark: rgba(0, 0, 0, .4);
$green: #95e616;
$hotpink: #ff304d;

//landing page
$landingpage-purple: #6a4394;
